@model Customer

<h1>Customer Registration</h1>
<button onclick="msg()">Click me</button>
<form asp-action="Create" asp-controller="ValidationEx" method="post">
    <div asp-validation-summary="All" class="bg-white text-danger"></div>
    <label>Name</label>
    <input type="text" asp-for="Cname" class="form-control" />
    <span asp-validation-for="Cname" class="text-danger"></span> <br/>

    <label>Age</label>
    <input type="text" asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span><br />


    <label>MobileNo</label>
    <input type="text" asp-for="MobileNo" class="form-control" />
    <span asp-validation-for="MobileNo" class="text-danger"></span><br />


    <label>Email</label>
    <input type="text" asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span><br />

    <label>Gender</label>
    <input type="radio" asp-for="Gender" value="Male" />Male
    <input type="radio" asp-for="Gender" value="Female" />Female <br/>
    <span asp-validation-for="Gender" class="text-danger"></span> <br />

    <label>Password</label>
    <input type="password" asp-for="password" class="form-control" />
    <span asp-validation-for="password" class="text-danger"></span> <br />

    <label>Confirm Password</label>
    <input type="password" asp-for="ConfirmPassword" class="form-control" />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span><br />

    
    <button type="submit" class="btn btn-success mt-3">Register</button>
</form>

@* @section Scripts{
    <partial name="_ValidationScriptsPartial"/>
} *@

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}





















